extends ../../layouts/default

block head
  title My Events

block body
  div.row
    div.col-sm-8
      h1.page-header My Events
      ul.events
        each event, i in data
          li
            strong #{event.name} -
            | &nbsp;&nbsp;
            a(href='/events/edit/#{event._id}')
              i.fa.fa-pencil
              |  Edit
            | &nbsp;&nbsp;
            a(class='delete-button', data-delete='#{event._id}', href='#')
              i.fa.fa-trash
              |  Delete
    div.col-sm-4
      h1.page-header Sidebar
