extends layout

block content
  .container
    h1 Log In
    form(method='post', action='/users/login')
      .form-group
        label Email
        input.form-control(name='email', type='email', placeholder='Enter your email', required)
      .form-group
        label Password
        input.form-control(name='password', type='password', placeholder='Enter your name', required)
      button.btn.btn-primary(type='submit') Log In
